<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/main.css' %}" />
    <link rel="stylesheet" href="{% static 'style/user_home.css' %}" />
    <link rel="stylesheet" href="{% static 'style/user_dashboard.css' %}" />
    <link rel="stylesheet" href="{% static 'style/user_proj_v2.css' %}" />
    
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- logo font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Karla:wght@800&family=Red+Hat+Display:wght@500&display=swap"
        rel="stylesheet"> -->

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <title>Home</title>
</head>

<body>
    {% include 'navbar.html' %}
    {% block content %}

    {% endblock %}
</body>

</html>